<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div style="display:inline-block; margin-left:20%;">
      <img src={{postersrc}} width="400" height="600"></img>
      <h1> Predicted Rating: {{rating}} </h1>
      <br/>
      <a href="/">Go Back Home</a>
    </div>
    <div style="display:inline-block; margin-bottom:-30%">
      <img src="data:image/png;base64, {{ plot_url }}">
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
    </div>
  </body>
</html>
